:root {
	--colBg: #32302f;
	--colFg: #ebdbb2;
	--colGreen: #98971a;
}

#urlbar { 
	background-color: #00000000 !important;
	border: none !important;
}

#forward-button 
, #page-action-buttons
, .urlbar-history-dropmarker[tooltiptext="Show history"]
, #back-button
, #sidebar-icon
, .tab-line{
	display: none;
}

#TabsToolbar
, #urlbar-background {
	background-color: var(--colBg) !important;
}

#connection-icon 
, vbox.identity-popup-security-content {
	fill: var(--colGreen) !important;
}

#identity-icon-labels 
, .identity-popup-connection-secure[when-connection^=secure] {
	color: var(--colGreen) !important;
}

#nav-bar
, #sidebar-header
, .tabbrowser-tab[selected=true]  .tab-loading-burst
, #urlbarView-body-inner {
	background-color: var(--colBg) !important;
} 
#sidebar-splitter {
	background-color: var(--colBg) !important;
	border: none !important;
}


#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
	opacity: 0;
	pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar { visibility: collapse !important; }
#sidebar-title , #sidebar-switcher-arrow { color: var(--colFg) !important; }
#urlbar-input-container { border-color: var(--colBg) !important;}
