[submodule ".config/i3/firefox-ctrl-q-workaround"]
	path = .config/i3/firefox-ctrl-q-workaround
	url = https://github.com/sasawat/firefox-ctrl-q-workaround.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
